@model IEnumerable<EntityFrameWorkIntro.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="centered btn light-blue">Create New</a>
</p>
<table class="table centered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="centered">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a class="btn blue" style="border-radius: 3rem" asp-action="Edit" asp-route-id="@item.order_id">Edit</a> 
                <a class="btn light-blue" style="border-radius: 3rem" asp-action="Details" asp-route-id="@item.order_id">Details</a> 
                <a class="btn red" style="border-radius: 3rem" asp-action="Delete" asp-route-id="@item.order_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
